/* CUSTOM */
.details {
    background: #999;
    height: 85vh;
    width: calc(100% - 40px);
    overflow: auto;
    padding: 0 24px;
}

@media (max-width: 64em) {
    .details {
        height: 40vh;
    }
}
